@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
   
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hotel{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("hotel.webp") ;
     height: 100vh;
     background-size: cover;
     margin: -8px -8px 0 -8px;
     padding: 0px;
}

.search{
    padding: 10px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.hotel{
    width: 1170px;
    margin: auto;
}*/
.nav-area{
    float: right;
    list-style: none;
    margin-top: 20px;
    position: fixed;
    right: 0;
    top: 0;

}

.nav-area li{
    display: inline-block;
}

 .nav-area li a {
     color: #fff;
     text-decoration: none;
     padding: 0 20px;
     font-size: 14px;
  
     
}
.nav-area li a:hover{
    
    color: yellowgreen;

}
.logo > img{
    filter:brightness(10);
    width: 120px;
    height: 120px;
    position: relative;
    top: -20px;
}

.heading {
    font-family: 'Lobster', cursive;
    color:yellowgreen;
    font-size: 3rem;
}

button:hover{
    background-color: grey;
    box-shadow: #333;

}

.example > input {
    width: 200px;
}
.abc,img{
 
  height: 140px;
  display: flex;
  flex-direction: row; 
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}
img:hover{
    transform:scale(1.1);
   z-index: 1;
}
  
img{
    border-radius: 20%;
    cursor: pointer;
}
.checked {
    color: orange;
}
.abc {
    height: 60vh;
    display: flex;
    justify-content: space-evenly; 
    background-color:#ffff99;                        
    margin: 0;
} 
.container{
    max-width: 1170px;
     margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/* responsive */
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
       
    }
}
.custom-bottom-stickybar {
    
    z-index: 9999;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}
.custom-bottom-stickybar .innerDv {
    max-width: 1050px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.custom-bottom-stickybar p {
    padding: 15px 0;
    padding-right: 120px;
    margin: 0;
    font-family: Calibri;
    line-height: normal;
}
.custom-bottom-stickybar p a {
    color: #406a90;
}
.custom-bottom-stickybar a.getItbtn {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 7px 15px;
    background: #896633;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
